@import "tailwindcss";
@import "./styles/theme.css";
@import "./styles/components.css";
@import "./styles/utilities.css";

@layer base {
  * {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    @apply bg-surface text-on-surface;
  }
}
